body {
    background-color: #042405;
}

#welcome_text {
    color: white;
    font-size: 50px; 
    margin-bottom: 30px; 
    margin-top: 100px; 
    text-align: center;
    font-weight:bold;

}

#examples {
    color: white;
    font-size: 25px; 
    text-align: center;
}

.calculator {
    width: 300px;
    margin: 50px auto;
    margin-top: 100px;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #227a28;
}

input[type="text"],
button {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    background-color: #113012;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #032005;
}

p {
    font-size: 18px;
    font-weight: bold;
}
