body{
    background-color: #042405;
}



.calculator {
    width: 300px;
    margin: 50px auto;
    margin-top:150px;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #227a28;
}


input[type="text"], button {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    background-color: #113012;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #032005;
}

p {
    font-size: 18px;
    font-weight: bold;
}
